@model ReferenceWebsite.Models.TextTypesViewModel

<table border=1>
	<thead>
		<th colspan=4>Text Types</th>
		<tr>
			<th>Type</th>
			<th>Expected</th>
			<th>Actual</th>
			<th>Correct?</th>
		</tr>
	</thead>
	<tbody>
		<tr><td>Char</td><td>Z</td><td>@Model.Char</td><td>@('Z'==@Model.Char)</td></tr>
		<tr><td>String</td><td>string value</td><td>@Model.String</td><td>@("string value"==@Model.String)</td></tr>
		<tr>
			<td>HtmlString</td>
			<td>
				<span style="text-decoration: underline">Hello from an HtmlString</span>
			</td>
			<td>@Html.Raw(Model.HtmlString)</td>
			<td>@("<span style=\"text-decoration: underline\">Hello from an HtmlString</span>" == @Model.HtmlString.ToString())</td>
		</tr>
		
	    <tr><td>Rich Text</td><td>Haiku</td><td>@Html.Raw(Model.RichText)</td></tr>
	    <tr><td>Rich Text As HtmlString</td><td>Haiku</td><td>@Model.RichTextAsHtmlString</td></tr>
	    <tr><td>Dropdown List</td><td>DDL Test 2</td><td>@Model.DropDownList</td><td>@("DDL Test 2" == Model.DropDownList)</td></tr>
	    <tr><td>Dropdown List Publish Keys (actual)</td><td>65</td><td>@Model.DropDownListPublishKeys</td><td>@(65 == Model.DropDownListPublishKeys)</td></tr>
	    <tr><td>Dropdown List Publish Keys (lookup value)</td><td>DDLPK Test 1</td><td>@umbraco.library.GetPreValueAsString(Model.DropDownListPublishKeys)</td><td>@(umbraco.library.GetPreValueAsString(Model.DropDownListPublishKeys) == "DDLPK Test 1")</td></tr>
	    <tr><td>No Edit</td><td>This Cannot be Edited</td><td>@Model.NoEdit</td><td>@("This Cannot be Edited" == Model.NoEdit)</td></tr>
	</tbody>
</table>

		