@model ReferenceWebsite.Models.ArraysViewModel
@{
    Layout = null;
}

@Html.Partial("breadcrumbs")

<table border=1>
	<thead>
		<tr>
			<th>Type</th>
			<th>Expected</th>
			<th>Type</th>
			<th>Actual</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>IntArray</td>
			<td>7 , 14, 21</td>
			<td>@Model.IntArray.GetType().Name</td>
			<td>@for (var i = 0; i < Model.IntArray.Length; i++)
				{
					<span>@Model.IntArray[i]</span>
					if (i < Model.IntArray.Length - 1)
					{
						<span>,</span>
					}
				}
			</td>
		</tr>
		<tr>
			<td>StringArray</td>
			<td>cat , dog , fish</td>
			<td>@Model.StringArray.GetType().Name</td>
			<td>@for (var i = 0; i < Model.StringArray.Length; i++)
				{
					<span>@Model.StringArray[i]</span>
					if (i < Model.StringArray.Length - 1)
					{
						<span>,</span>
					}
				}
			</td>
		</tr>
		<tr>
			<td>StringList</td>
			<td>Ken Sykora , Paul Trandem</td>
			<td>@Model.StaffList.GetType().Name</td>
			<td>@for (var i = 0; i < Model.StaffList.Count; i++)
			{
				<span>@Model.StaffList[i].Name</span>
				if (i < Model.StaffList.Count - 1)
				{
					<span>,</span>
				}
			}
			</td>
		</tr>
	</tbody>
</table>