@model ReferenceWebsite.Models.BlogEntryViewModel

@{
    Layout = null;
}

@Html.Partial("breadcrumbs")

<h1>@Model.Title</h1>
@if (Model.PostDate.HasValue)
{
    <div>@Model.PostDate.Value.ToShortDateString()</div>
}
<div>
    @Html.Raw(Model.Content)
</div>	

A Recursive Value: @Model.SomeRecursiveValue