@model ReferenceWebsite.Models.BlogEntryViewModel
@using UmbracoVault

@{
    Layout = null;
	//var post = Vault.Context.GetContentById<ReferenceWebsite.Models.BlogEntryViewModel>(@CurrentPage.Id);
}

@Html.Partial("breadcrumbs")
	
<h1>@Model.Title</h1>
<div>@Model.PostDate.ToShortDateString()</div>
<div>
    @Html.Raw(Model.Content)
</div>	