@model BlogHomeViewModel
@using ReferenceWebsite.Models
@using UmbracoVault

@{
    Layout = null;
    var posts = Vault.Context.GetByDocumentType<BlogEntryViewModel>().ToList();
}

<h1>@Model.Title</h1>

@Html.Partial("breadcrumbs")
	
<div class="blog-home-posts">
	@foreach(var post in posts)
	{
		<h2><a href="@post.CmsContent.Url">@post.Title</a></h2>
    	<span>@post.PostDate.ToShortDateString()</span>    
	}
</div>