@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UmbracoVault

@{
    Layout = null;
	var post = Vault.Context.GetContentById<ReferenceWebsite.Models.BlogEntryViewModel>(@CurrentPage.Id);
}

@Html.Partial("breadcrumbs")
	
<h1>@post.Title</h1>
<div>@post.PostDate.ToShortDateString()</div>
<div>
    @Html.Raw(@post.Content)
</div>	